body {
    background-color: black;
    color: white;
	/* Use a system font, if none are available use an available sans-sarif   font */
	font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI",
		Roboto, Oxygen-Sans, Ubuntu, Cantarell, "Helvetica Neue", sans-serif;
	margin: 0;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  /* justify-content: center; */
}

h1 {
  text-shadow: 0 0 3px black;
  background-color: cyan;
  box-shadow: 0 0 18px cyan;
  border-radius: 14px;
  padding: 6px 12px;
  color: black;
}

h2 {
  text-shadow: 0 0 2px black;
  background-color: rgb(251, 106, 210);
  box-shadow: 0 0 18px rgb(251, 106, 210);
  border-radius: 12px;
  padding: 6px 12px;
  color: black;
}

section.board {
  display: grid;
  grid-template-rows: repeat(3, 12vmin);
  grid-template-columns: repeat(3, 12vmin);
  grid-gap: 1.2vmin;
  margin-bottom: 12px;
}

div {
  /* border-bottom: 3px solid black;
  border-right: 3px solid black;
  border-top: 1.5px solid black;
  border-left: 1.5px solid black; */
  border: 2px solid black;
  /* box-shadow: 2px 2px 4px rgb(0, 0, 0); */
  background-color: rgb(0, 0, 0);
  font-size: 8vmin;
  text-align: center;
  vertical-align: middle;
  padding-top: 5px;
}

.odd {
  color: rgb(251, 106, 210);
  border: 2px solid rgb(0, 255, 255);
  box-shadow: 0 0 10px rgb(0, 255, 255);
}

.even {
  color: cyan;
  border: 2px solid rgb(251, 106, 210);
  box-shadow: 0 0 10px rgb(251, 106, 210);
}

#reset {
  height: 34px;
  width: 80px;
  font-weight: 600;
  font-size: 16px;
  border: none;
  text-shadow: 0 0 1px black;
  background-color: cyan;
  box-shadow: 0 0 18px cyan;
  border-radius: 10px;
  padding: 6px 12px;
  color: black;
}