body {
    background-color: gray;
	/* Use a system font, if none are available use an available sans-sarif   font */
	font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI",
		Roboto, Oxygen-Sans, Ubuntu, Cantarell, "Helvetica Neue", sans-serif;
	margin: 0;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  /* justify-content: center; */
}

section.board {
  display: grid;
  grid-template-rows: repeat(3, 10vmin);
  grid-template-columns: repeat(3, 10vmin);
  grid-gap: 0.5vmin;
  margin-bottom: 12px;
}

div {
  /* border-bottom: 3px solid black;
  border-right: 3px solid black;
  border-top: 1.5px solid black;
  border-left: 1.5px solid black; */
  border: 2px solid black;
  box-shadow: 2px 2px 4px black;
  background-color: rgba(245, 245, 245, 0.606);
  font-size: 8vmin;
  text-align: center;
  vertical-align: middle;
}

#reset {
  height: 30px;
  width: 62px;
  font-weight: 580;
  font-size: 16px;
  background-color: rgba(245, 245, 245, 0.606);
  
}