body {
    background-color: gray;
	/* Use a system font, if none are available use an available sans-sarif   font */
	font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI",
		Roboto, Oxygen-Sans, Ubuntu, Cantarell, "Helvetica Neue", sans-serif;
	margin: 12px;
  height: 100vh;
  display: flex;
  flex-direction: column;
}

section.board {
  display: grid;
  grid-template-rows: repeat(3, 10vmin);
  grid-template-columns: repeat(3, 10vmin);
  grid-gap: 0.5vmin;
}

div {
  /* border-bottom: 3px solid black;
  border-right: 3px solid black;
  border-top: 1.5px solid black;
  border-left: 1.5px solid black; */
  border: 2px solid black;
  box-shadow: 2px 2px 4px black;
  font-size: 8vmin;
  text-align: center;
  vertical-align: middle;
}